*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    font-family: sans-serif;
}
.Login{
    width: 600px;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: left;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}
.form{
    padding: 10px;
    width: 100%;
    height: auto;
}
.form p {
    color: grey;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 30px;
}

.Input{
    width: 100%;
}

.btn{
    width: 100%;
    padding:15px;
    font-size: 20px;
    border: 2px solid #006838;
    border-radius: 10px;
    font-weight: bolder;
    background-color: transparent;
    color: #006838;
    transition: all 1s ease;
}

.btn:hover{
    background-color: #006838;
    color: white;
    border: 2px solid transparent;
}